
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Lucidity';
    src: url(./fonts/Lucidity-Expand.ttf) format('truetype');
    src: url(./fonts/Loubag-Black.ttf) format('truetype');
}
body {
    font-display: swap;
}
a{
    text-decoration: none;
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
@keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(5px);
    }
    75% {
      transform: translateY(-5px);
    }
}
#Primary {
    width: 100%;
    height: 100vh;
    background-image: url(./img/backgrund01.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#UpBar {
    font-family: "Poppins";
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #bf0f30, #1e1416);
}.T {
    color: #fcc077;
}
#ContainerPrimary {
    width: 50%;
    margin-left: 10%;
}
#TitleIMG {
    margin-top: 50px;
    margin-bottom: 50px;
}
#P1 {
    font-size: 12px;
    color: white;
}.subli {
    text-decoration: underline;
}
#P2 {
    color: white;
    font-family: "Poppins";
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}
#BtnPrimary{
    font-family: "Poppins";
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    width: 50%;
    height: 45px;
    background: linear-gradient(135deg, #79490a, #e19410, #fac678, #b27817, #dda13b);
}
@media(max-width:800px){
    #Primary  {
        width: 100%;
        height: auto;
        background-image: url(./img/mobile01.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #ContainerPrimary {
        margin-top: 230px;
        width: 90%;
        margin-left: 5%;
    }
    #TitleIMG {
        width: 100%;
    }
    #BtnPrimary{
        width: 90%;
        margin-bottom: 30px;
    }
}

#DataBar {
    width: 100%;
    padding: 10px;
    height: auto;
    background: linear-gradient(135deg, #b8740d, #bf0f30);
}
#Data {
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#agendaIMg {
    width: 60px;
    height: 60px;
}
#Pdata {
    font-family: "Lucidity";
    font-size: 30px;
    color: white;
    padding: 10px;
}
#local {
    font-family: "Poppins";
    font-size: 20px;
    color: white;
    padding: 20px;
}
@media(max-width: 800px){
    #Data {
        width: 80%;
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #agendaIMg {
        width: 50px;
        height: 50px;
    }
    #Pdata {
        margin-top: 3px;
        font-family: "Lucidity";
        font-size: 12px;
        color: white;
        padding-top: 10px;
    }
    #local {
        padding-top: 10px;
        font-size: 12px;
    }
}



#Section02 {
    width: 100%;
    height: 100vh;
    background-image: url(./img/bacgrund02.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ContainerSection02 {
    width: 90%;
    margin-left: 5%;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}.DivContainer {
    width: 50%;
}.DivContainerP {
    font-family: "Poppins";
    font-size: 12px;
    color: white;
    line-height: 20px;
    margin-bottom: 30px;
}li{
    margin-left: 15px;
    color: white;
    font-family: "Poppins";
    font-size: 12px;
    line-height: 20px;
}r {
    color: transparent;
}.ult{
    margin-bottom: 50px;
}
#IMGCorrent img{
    float: right;
}
#ButtonSection02 {
    font-weight: 600;
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    width: 80%;
    height: 35px;
    margin-left: 10%;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    background: linear-gradient(135deg, #79490a, #e19410, #fac678, #b27817, #dda13b);
}
K {
    color: black;
}
@media(max-width: 800px){
    #ButtonSection02 {
        font-family: "Poppins";
        font-size: 10px;
    }
    #Section02 {
        width: 100%;
        height: auto;
        background-image: url(img/mobile02.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #ContainerSection02 {
        width: 90%;
        margin-left: 5%;
        height: auto;
        padding-top: 30px;
        display: flex;
        flex-direction: column-reverse;
    }
    .DivContainer {
        margin-bottom: 50px;
        width: 100%;
    }
    #IMGCorrent img {
        width: 50%;
        margin-right: 25%;
    }
}





#SectionQuadradinhos {
    width: 100%;
    height: auto;
    background-image: url(img/bacgrund03.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#TitleSectionQuadradinhos {
    font-family: "Poppins";
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 80px;
}
YELLOW {
    color: #f9a01b;
}
#ContainerSectionQuadradinhos{
    padding-top: 50px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}
.conteudoContainer {
    width: 40%;
}
.conteudoContainer img {
    width: 50%;
    margin-left: 25%;
}
.Quadrado {
    width: 80%;
    margin-left: 10%;
    background: radial-gradient(circle at 0% 0%, #8cb600, #2e4405);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}.QuadradoPTitle {
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}.QuadradoPCorpo {
    font-family: "Poppins";
    font-size: 10px;
    color: white;
}
#VER {
    background: radial-gradient(circle at 0% 0%, #1e1416, #bf0f30);
}
@media(max-width:800px){
    .QuadradoPTitle {
        font-size: 10px;
        font-family: "Poppins";
        font-weight: 600;
        color: white;
        margin-bottom: 10px;
    }.QuadradoPCorpo {
        font-family: "Poppins";
        font-size: 10px;
        color: white;
    }.Quadrado {
        width: 100%;
        margin-left: 0%;
    }.conteudoContainer img {
        width: 100%;
        margin-left: 0;
    }
}
#escolhaseulado {
    font-size: 10px;
    color: white;
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
    padding-bottom: 30px;
}
@media(max-width: 800px){
    #escolhaseulado {
        width: 80%;
        margin-left: 10%;
    }
}
#escolhaseulado img {
    width: 40px;
    height: 91px;
}#Pescolha {
    margin-top: 80px;
    font-size: 9px;
}







#Section03 {
    width: 100%;
    height: 100vh;
}
#DivSection03 {
    padding-top: 40px;
    width: 50%;
    margin-left: 50%;
    display: flex;
    flex-direction: row;

    
}
#Fomrulario {
    width: 70%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.562), transparent);
    border: solid 1px #ffe033bd;
}
#Fomrulario p {
    padding: 10px;
    color: white;
    font-family: "Poppins";
    font-size: 15px;
}
#Form {

    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.InputForm {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    height: 35px;
    background-color: #fafafac7;
    border: none;
    color: white;
}
#msg {
    height: 100px;
}
#Form  button {
    cursor: pointer;
    width: 40%;
    margin-left: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
    background: linear-gradient(135deg, #79490a, #e19410, #fac678, #b27817, #dda13b);
}
@media(max-width: 800px){
    #Section03 {
        height: auto
    }    
    #DivSection03 {
        padding-top: 80px;
        width: 100%;
        margin-left: 0%;
        display: flex;
        flex-direction: row;
    }
    #Fomrulario {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 50px;
    }
    #Form  button {
        width: 50%;
        margin-left: 45%;
    }
}




#BarMoniqui {
    padding: 10px;
    text-align: center;
    font-family: "Poppins";
    color: white;
    font-size: 15px;
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #df832e, #683409, #683409);
}



#Section04 {
    width: 100%;
    height: auto;
    background-image: url(img/bacgrund04.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#COntainerSection04 {
    width: 100%;
    margin-left: 0%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}.DivContainerSection04 {
    width: 50%;
}
.DivContainerSection04 #imgMoniqui {
    width: 70%;
    height: 90%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.DivContainerSection04    #IMGMONIQUI {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;
}
#Bio {
    padding-top: 150px;
}
.bio {
    color: white;
    font-family: "Poppins";
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}.bio img {
    padding: 5px;
    width: 30px;
    height: 30px;
}
#BTNBIO{
    margin-bottom: 50px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 13px;
    color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #79490a, #e19410, #fac678, #b27817, #dda13b);
}
@media(max-width: 800px){
    #Bio {
        padding-top: -100px;
    }
    #COntainerSection04 {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    .DivContainerSection04 {
        width: 100%;
    }
    .DivContainerSection04    #IMGMONIQUI {
        margin-top: 0px;
    }
    .bio {
        width: 90%;
        margin-left: 5%;
    }
}
#SectionRoda {
    width: 100%;
    height: auto;
    background-image: url(img/bacgrund04.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ContainerRoda {
    padding-top: 20px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#MetodoImg {
    margin-top: 80px;
    width: 60%;
}
#Roda {
    width: 99%;
}
#PTitlemetodo {
    margin-top: 50px;
    font-family: "Poppins";
    font-size: 16px;
    color: white;
}
@media(max-width:800px){
    #MetodoImg {
        width: 80%;
        margin-left: 10%;
    }
    #PTitlemetodo  {
        text-align: center;
    }
    #SectionRoda {
        height: auto;
    }
    #ContainerRoda {
        padding-top: 20px;
        width: 100%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
    }
    .DivcontainerRoda{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 50px;
    }
}

#Trajeto {
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}
.iten {
    text-align: center;
    width: auto;
    border-radius: 5px;
    border: solid 1px #e19410;
    padding: 5px;
    width: auto;
    height: auto;
    font-family: 'Poppins';
    font-size: 11px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
}
#M {
    background: linear-gradient(135deg, #79490a, #e19410, #fac678, #b27817, #dda13b);
}
#Trajeto img  {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    padding: 5px;
}


#Final {
    width: 100%;
    height: auto;
    background-image: url(./img/finiched.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#topBAr {
    background: linear-gradient(135deg, #bf0f30, #1e1416);
    padding: 10px;
    font-family: "Poppins" ;
    font-size:  14px;
    color: white;
    text-align: center;
}
#Grid{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.DivGrid {
    width: 45%;
}
.DivGrid img {
    float: right;
    height: 100%;
}
#GridQuadradinhos {
    width: 80%;
    margin-left: 20%;
}
.DivQdisplay {
    margin-bottom: 30px;
    width: 100%;
}
#DivQdisplay {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.DQ {
    width: 40%;
    border-radius: 5px;
    border: solid 0.1px #b27817;
    text-align: center;
    font-family: "Poppins";
    color: white;

}.DQtop {
    width: 60%;
    background: linear-gradient(135deg, #79490a, #e19410, #fac678, #b27817, #dda13b);
    height: 5px;
    margin-left: 20%;
    margin-top: -3px;
    font-size: 0.1pxs;
}.TTT {
    font-size: 30px;
    font-weight: 600;
}
#QF {
    width: 60%;
    margin-left: 20%;
    background: radial-gradient(circle at 0% 0%, #8cb600, #2e4405);
}
#selo {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} #selo img {
    width: 50px;
}
#selo .TTT{ 
    font-size: 20px;
}
#selo .ccc {
    padding: 10px;
    font-size: 10px;
}
#BNTGRID {
    width: 50%;
    margin-left: 25%;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(135deg, #79490a, #e19410, #fac678, #b27817, #dda13b);
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    color: white;
}

@media(max-width:800px){
    #Grid{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .DivGrid {
        width: 100%;
    }
    #GridQuadradinhos {
        width: 100%;
        margin-left: 0%;
    }
    .DivGrid img {
        margin-top: 50px;
        float: right;
        height: 100%;
        width: 90%;
    }
    #selo img {
        width: 50px;
        margin-top: -5px;
    }
} 
#Faixas {
    margin-top: 20px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #79490a, #e19410, #fac678, #b27817, #dda13b);
    margin-bottom: 50px;
    
}

  
.Faixada {
   
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around; /* Espaço entre os parágrafos */
    
}
.Faixada p {
   white-space: nowrap; /* Evita que o texto quebre */
   animation: slide 10s linear infinite; /* Animação contínua */
   font-size: 1.5rem; /* Ajuste do tamanho do texto */
   font-weight: bold;
   color: #ffffff; /* Cor do texto */
}
  
/* Animação */
@keyframes slide {
  from {
    transform: translateX(-100%); /* Começa fora pela esquerda */
  }
  to {
    transform: translateX(100%); /* Termina fora pela direita */
  }
}
  


#Button {
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
}
#ImgButton {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
} 
#ImgButton img{
    width: 50%;
    margin-left: 50%;
    margin-bottom: 100px;
}
@media(max-width: 800px) {
    #ImgButton img{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 100px;
    }
}

#Footer {
    background-color: #0b0000;
    backdrop-filter: blur(5px);
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    color: white;
}
#Footer a {
    text-decoration: none;
    color: white;
}