
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Lucidity';
    src: url(./fonts/Lucidity-Expand.ttf) format('truetype');
    src: url(./fonts/Loubag-Black.ttf) format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('./img/backgrund07.png');
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;
    height: 100vh; 
    background-size: cover; /* opcional, para cobrir toda a tela */
  }
a {
    text-decoration: none;
    color: black;
}
@keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(5px);
    }
    75% {
      transform: translateY(-5px);
    }
  }
#Primary{
    width: 100%;
    height: 100vh;
}
#UpBar {
    text-align: center;
    width: 100%;
    height: 45px;
    background: linear-gradient(to right, #bf0f30, #731d2c);
}
#UpBar p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 10px;
    animation: wave 3s infinite;
}

#Display {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}
#TxtPrimary {
    margin-left: 10%;
    width: 40%;
    height: 100vh;
    width: 900;
}
#ImgMoniqui {
    width: 40%;
    width: 100vh;
}
#ImgMoniqui img {
    position: absolute;
    bottom: 0;
}
#title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.p2 {
    font-size: 14px;
    color: white;
    font-family: "Poppins";
    animation: slideIn 2s ease-in-out forwards; /* Animação */
}
.p3 {
    padding-top: 20px;
    font-size: 12px;
    color: white;
    font-family: "Poppins";
    animation: slideIn 2s ease-in-out forwards; /* Animação */
}
.p3a {
    color: #eaab03;
}
.BTN {
    background: radial-gradient(circle, #df832e, #683409);
    margin-top: 40px;
    height: 40px;
    width: 60%;
    border: none;
    border-radius: 5px;
    animation: wave 2s infinite;
}
.BTN a {
    color: white;
    font-size: 13px;
    font-family: "Poppins";
}
.p5{
    color: white;
    font-family: "Poppins";
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px;
}
@media(max-width: 600px){
    #title img {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    #UpBar p {
        font-size: 10px;
    }
    #Primary{
        width: 100%;
        height: 100vh;
    }
    #TxtPrimary {
        color: white;
        width: 100vh;
        margin-left: 0;
    }
    #ImgMoniqui {
        display: none;
    }
    .p1 {
        font-size: 13px;    
    }
    .p1a{
        font-size: 13px;
        padding-bottom: 20px;

    }
    .BTN {
        margin-top: 20px;
        height: 35px;
        width: 100%;
    }
    .BTN a {
        font-size: 10px;
        font-family: "Poppins";
    }
    .p5{
        font-size: 12px;
    }
}
#DataBar {
    width: 100%;
    text-align: center;
    background: radial-gradient(circle, #df832e, #683409);
    height: 60px;
}
#Data {
    width: 30%;
    margin-left: 35%;
    display: flex;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
}

.txtData {
    margin-top: -10px;
    font-size: 11px;
    font-family: "Poppins";
}
.time {
    font-family: "Poppins";
    padding-top: 5px;
    font-size: 29px;
    color: white;
    width: 20%;
    height: 90px;
}
.number{
    font-weight: 600;
}
@media(max-width: 600px){
    #Data {
        width: 50%;
        margin-left: 25%;
    }
    .txtData {
        font-size: 9px;
    }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#Quadradinhos{
    width: 100%;
    height: 100vh;
}
#titles {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    width: 80%;
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
}
#QuadradinhosContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}
.Quadradinhos {
    width: 50%;
    height: auto;
}
.quadradinhos3{
    display: flex;
    flex-direction: row;
    margin-TOP: 30px;
    width: 100%;
    justify-content: space-around;
}
.Quadrado {
    background: linear-gradient(135deg, #ffffff00, #27633f);
    border: solid 0.01px;
    border-color: #27633f;
    width: 30%;
    height: 120px;
    text-align: left;
    border-radius: 10px;
}
#Q2 .Quadrado{
    background: linear-gradient(135deg, #ff583300, #723320);
    border: solid 0.01px;
    border-color:#723320;

}
.Pquadradro {
    margin-left: 3px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: "Poppins";
    font-size: 13px;
    color: white;
}
.Pcorpo {
    margin-left: 3px;
    font-size: 10px;
    font-family: "Poppins";
    color: white;
    padding-bottom: 10px;
}
#QuadradinhosBTN {
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
#IMGBnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
} 
#IMGBnt img {
    width: 80px;
    height: 80px;
}
#QuadradinhosBTN p {
    margin-top: 30px;
    font-family: "Poppins";
}
#QuadradinhosBTN .larg {
    font-weight: 600;
}
#QuadradinhosBTN  button {
    height: 35px;
    background: linear-gradient(135deg, #bf0f30, #ff583327);
}
@media(max-width: 800px){
    #titles {
        font-size: 10px;
    }
    body #Quadradinhos{
        height: auto;
    }
    #QuadradinhosContainer {
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }    
    .Quadradinhos {
        width: 100%;
        height: auto;
    }  
    #QuadradinhosBTN {
        padding-bottom: 30px;
    } 
    #QuadradinhosBTN {
        color: white;
        text-align: center;
        width: 90%;
        margin-left: 5%;
    }
}
footer {
    width: 100%;
    height: 80px;
    background: radial-gradient(circle, #df832e, #683409);
}footer div {
    font-family: "Poppins";
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    width: 30%;
    margin-left: 35%;

}
footer img {
    padding-left: 30px;
    width: 50%;
}
@media(max-width: 600px){

    footer div {
        font-family: "Poppins";
        font-size: 12px;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        width: 30%;
        margin-left: 35%;
    }
    footer img {
        padding-top: 10px;
        width: 100%;
    }
}