* {
    margin: 0;
}
body {
    background-color:#ef97a3;
}
header {
    width: 100%;
    height: 260px;
    background-color: #d4486f;
    text-align: center;
}
#logo {
    margin-top: 10px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
a {
    font-weight: 600;
    color: white;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none; 
}a:hover {
    opacity: 75%;   
}
@media(max-width: 500px){
    a {
        font-size: 19px;
    }
}

#Produtos {
    margin-top: 50px;
    margin-bottom: 50px;
}
.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    justify-content: space-between;
    transition: transform 0.8s ease;
  }
  
  .carousel-inner img {
    width: 280px;
    height: 280PX;
  }
  
  .prev, .next {
    font-size: 18px;
    font-weight: 900;
    height: 100%;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;

}
#titleprojetos {
    text-align: center;
    margin-bottom: 100px;
}
.project-section {

    position: relative;
}
.projects-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.project {
    text-align: center;
    flex: 0 0 100%;
    display: none;
}
#imgprojeto {
    width: 300px;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgb(189, 20, 133);
}
    
.slide-buttons {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.prev-btn,
.next-btn {
    font-weight: 900;
    font-size: 30px ;
    background-color: transparent;
    width: 50px;
    height: 100%;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.prev-btn,
.next-btn:hover{
    backdrop-filter: blur(5pxs);
}

#pedido {
    margin-top: 150px;
    margin-bottom: 150px;
}
#pedidosContainer {
    width: 90%;
    margin-left: 5%;
}
h3 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
}
.pedidoCategoria{
    background-color: #d4486f;
    width: 100%;
}
.separador {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(189, 20, 133, 0.815);
    cursor: pointer;    
}
#kit, #chocolateBranco, #aoLeite, #colher, #trufado {
    display: none;
    width: 80%;
    margin-left: 10%;
    height: auto;
    border-radius: 0px 0px 10px 10px;
    background-color: #ef97a391;
    backdrop-filter: blur(5px);
    text-align: center;
}
.gramas {
    width: 50%;
    margin-bottom: 10px;
}.quantidade {
    width: 40%;
}
.obs {
    width: 50%;
    height: 100px;
}

.pedido {
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    background-color: #e6c37ccb;
    height: auto;
}
#KitPedido{
    display: none;
}
#divTradBranco{
    display: none;
}
#divTradAoLeite {
    display: none;
}
#divOvoDeColher{
    display: none;
}
#divOvoTrufado {
    display: none;
}
#pedidosContainer #divOvoColher{
    color:#d4486f;
}
#CbiaPascoa {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 30px;
}
.title {
    margin-top: 20px;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 600;
}
.more{
    margin-top: 9px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.endereco {
    text-align: center;
    font-size: 18px;
}
.envio {
    width: 80%;
    margin-left: 10%;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(189, 20, 133, 0.815);
}
#finalizar {
    margin-top: 30px;
    font-weight: 600;
    width: 80%;
    margin-left: 10%;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(189, 20, 133, 0.815);
    cursor: pointer;
}
footer {
    background-color: #d4486f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    margin: 0 10px;
  }
  
  .social-links img {
    width: 30px;
  }
  