*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    color: white;
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
nav {
    color: white;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
nav a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
nav a:hover {
    font-size: 22px;
}
#Home {
    text-align: center;
    width: 80px;
    border: solid 1px white;
    border-radius: 50px;
}
nav div img {
    width: 30px;

}
nav div input {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    width: 100px;
}
body {
    background-image: url('../assets/backgrund.png');
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;
    height: 100vh; 
    font-family: "Poppins", sans-serif;
}
.imgs {
    width: 90%;
    margin-left: 5%;
}
@media(max-width: 800px){
    .imgs {
        margin-top: 40%;
    }
}

#primary_logo {
    width: 100%;
    opacity: 0;
    transform: translateY(100px); /* Começa fora da posição visível */
    animation: subir 1.5s ease-out forwards; /* Chama a animação ao carregar */
}
@keyframes subir {
    0% {
      opacity: 0;
      transform: translateY(100px); /* Abaixo da posição final */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Posição final no centro */
    }
}
#about {
    margin-top: 150px;
}
#Welcome {
    width: 90%;
    margin-left: 5%;
}#Welcome img {
    width: 100%;
}
#Missao{
    width: 90%;
    margin-left: 5%;
}
#Missao h2 {
    color: white;
    font-size: 53px;
    font-family: "Poppins", sans-serif;
}
#Missao p {
    color: white;
    font-size: 15px;
}
#pilares {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.pilaresInternos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
.pilar {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px  solid #9400ff ;
    border-radius: 20px;
}
.pilar img{
    width: 60px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

}.pilar p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    color: white;
}
@media(max-width: 700px){
    .pilaresInternos{
        display: flex;
        flex-direction: column;
    }
    .pilar {
        margin-bottom: 50px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
#Mover {
    width: 90%;
    margin-left: 5%;
}
#Art {
    width: 100%;  
}#Art img {
    width: 100%;
}
#TextContent {
    margin-top: -300px;
    display: flex;
    flex-direction: row;
}
#oquenosmove {
    width: 30%;
}
#oquenosmove img {
    margin-top: 15px;
    width: 100%;

}
#TXT{
    margin-top: 15px;
    width: 70%;
    color: white;
    font-size: 20px;
}
@media(max-width:700px){
    #TextContent {
        width: 100%;
        margin-top: -100px;
        display: flex;
        flex-direction: column;
    } 
    #oquenosmove {
        width: 100%;
    }
    #oquenosmove img {
        margin-left: 10%;
        width: 90%;
    }
    #TXT {
        width: 100%;
    }
}